In [1]:
from bandits import thompson_sampling

import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline
%config InlineBackend.figure_format = 'retina'

Data generation

In [2]:
np.random.seed(28)

# Campaigns
arms = np.random.randint(low=1, high=30, size=10)

# CPM
true_values = np.random.gamma(shape=2, scale=1/2, size=10)

df = pd.DataFrame({'arms': arms, 'true_values': true_values})

true_stats = df.set_index('arms')['true_values'].to_dict()

display(df.sort_values('true_values', ascending=False))

   arms  true_values
9     1     1.876118
3    23     1.160400
6     4     0.992980
7    24     0.926695
5     1     0.905357
1    26     0.863821
8    13     0.705905
2     6     0.698796
0     2     0.231195
4    21     0.101644

Initialize a Normal-Inverse-Gamma (NIG) distribution for Thompson Sampling

In [6]:
NIG = thompson_sampling.normal_inverse_gamma(arms_info=true_stats, rounds=20_000, discount_factor=1)

In [7]:
NIG.fit()

100%|██████████| 20000/20000 [01:45<00:00, 188.83it/s]

Output of results

In [8]:
NIG.result

   arm  traffic        cpm  percentage
0    1    19856   1.869784       99.28
6   23       54   1.083684        0.27
2    4       19   1.267368        0.10
7   24       21   1.225652        0.10
8   26       16  13.817762        0.08
3    6       12   1.000764        0.06
4   13       11   4.210876        0.06
1    2        6   4.098521        0.03
5   21        5   4.159212        0.02